{%extends 'bootstrap/base.html'%}
  
    {%block navbar %}
      {%include 'navbar.html'%}
    {%endblock%}

{%block content%}
<h1>School Pitch</h1>
<div align="centre" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div class="panel style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;">
        <p style="font-family: 'Felipa', cursive; font-size:20px;">PITCH IT!</p>

        <div style="text-align:center;">
          <a href="{{url_for('main.new_pitch')}}">
            <br>
            <span >Add a new Pitch</span>
          </a>
        </div>
      </div>
    </div>
 
 {%endblock%}

